<div class="search">
  <app-my-button [isDisabled]="start <= 0" (emitter)="back()" [config]="button_back"></app-my-button>

  <p *ngIf="paginaCorrente > 3" style="margin-right: 10px; margin-left: 10px">...</p>

  <ng-container *ngFor="let i of arrayPagine">
    <ng-container *ngIf="i >= (paginaCorrente - 2) && i <= (paginaCorrente + 2)">
      <app-my-button *ngIf="!(i == paginaCorrente)" [config]="{icon: 'circle', text: i.toString(), class: 'secondary'}" (emitter)="changePagination(i)"></app-my-button>
      <app-my-button *ngIf="i == paginaCorrente" [config]="{icon: 'circle-fill', text: i.toString(), class: 'secondary'}"></app-my-button>
    </ng-container>
  </ng-container>

  <p *ngIf="paginaCorrente < (totalItems / table.pagination.itemPerPage) - 2" style="margin-right: 10px">...</p>

  <app-my-button [isDisabled]="start >= (totalItems - table.pagination.itemPerPage)" (emitter)="next()" [config]="button_next"></app-my-button>

  <div class="search">
    <label for="seleziona-pagina" style="margin-right: 10px"> item per pagina: </label>
    <select id="seleziona-pagina" [(ngModel)]="table.pagination.itemPerPage" style="width: 50%">
      <option *ngFor="let numero of table.pagination.itemPerPageOption">{{numero}}</option>
    </select>
  </div>
</div>
