 <div id="search-data">
   <label for="seleziona-colonna">Seleziona una colonna per la ricerca: </label>
   <div class="search">
    <select id="seleziona-colonna" [(ngModel)]="searchColumn" style="margin-right: 10px; width: 25%">
      <option *ngFor="let colonna of tableConfig.search.columns">{{colonna}}</option>
    </select>
    <input type="text" [(ngModel)]="searchText" placeholder="cerca" />
   </div>
   <ng-container *ngFor="let azione of tableConfig.actions">
    <app-my-button *ngIf="azione.onTop" (click)="emitter(azione.buttonAction.text)" [config]="azione.buttonAction"></app-my-button>
   </ng-container>
 </div>
<table>
  <thead>
  <tr>
    <th *ngFor="let colonna of tableConfig.headers" (click)="ordinamento(colonna.key)">
      {{colonna.label}}
      <i *ngIf = "colonna.key === tableConfig.order.colonna">{{iconaOrdinamento}}</i>
    </th>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let riga of data | filter: searchText!: searchColumn | pagination: start: end: tableConfig.pagination.itemPerPage | order: tableConfig.order.verso: tableConfig.order.colonna">
      <td *ngFor="let colonna of tableConfig.headers">{{riga[colonna.key]}}</td>
      <td *ngFor="let azione of tableConfig.actions">
        <app-my-button *ngIf="(azione.hidden === undefined || !azione.hidden(riga)) && !azione.onTop" (click)="emitter(azione.buttonAction.text, riga)" [config]="azione.buttonAction"></app-my-button>
      </td>
    </tr>
  </tbody>
</table>
 <app-tool-pagination [table]="tableConfig" [totalItems]="data.length" [start]="start" (emit)="changePagination($event)"></app-tool-pagination>
