 <div id="search-data">
   <label for="seleziona-colonna">Seleziona una colonna per la ricerca: </label>
   <div class="search">
    <select id="seleziona-colonna" [(ngModel)]="searchColumn" style="margin-right: 10px; width: 7%">
      <option *ngFor="let colonna of tableConfig.search.columns">{{colonna}}</option>
    </select>
    <input type="text" [(ngModel)]="searchText" placeholder="cerca" />
   </div>
   <label for="seleziona-pagina"> item per pagina: </label>
   <select id="seleziona-pagina" [(ngModel)]="tableConfig.pagination.itemPerPage" style="width: 5%; margin-bottom: 10px">
     <option *ngFor="let numero of tableConfig.pagination.itemPerPageOption">{{numero}}</option>
   </select>
   <ng-container *ngFor="let azione of tableConfig.actions">
    <app-my-button *ngIf="azione.onTop" (click)="emitter(azione.buttonAction.text)" [config]="azione.buttonAction"></app-my-button>
   </ng-container>
 </div>
<table>
  <thead>
  <tr>
    <th *ngFor="let colonna of tableConfig.headers" (click)="ordinamento(colonna.key)">
      {{colonna.label}}
      <i *ngIf = "colonna.key === tableConfig.order.colonna">{{iconaOrdinamento}}</i>
    </th>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let riga of data | filter: searchText!: searchColumn | pagination: start: end: tableConfig.pagination.itemPerPage! | order: tableConfig.order.verso: tableConfig.order.colonna">
      <td *ngFor="let colonna of tableConfig.headers">{{riga[colonna.key]}}</td>
      <td *ngFor="let azione of tableConfig.actions">
        <ng-container *ngIf="azione.isAdmin === undefined || !azione.isAdmin(riga)">
          <app-my-button *ngIf="!azione.onTop" (click)="emitter(azione.buttonAction.text, riga)" [config]="azione.buttonAction"></app-my-button>
        </ng-container>
      </td>
    </tr>
  </tbody>
</table>
 <div class="search">
  <app-my-button *ngIf="start > 0" (click)="back()" [config]="button_back"></app-my-button>
   <p *ngIf="(end / tableConfig.pagination.itemPerPage) > pagination[2]" style="margin-right: 10px; margin-left: 10px">...</p>
  <ng-container *ngFor="let i = index of pagination.slice(0, pagineAttuali)">
    <ng-container *ngIf="pagination[i] >= ((end / tableConfig.pagination.itemPerPage) - 2) && pagination[i] <= ((end / tableConfig.pagination.itemPerPage) + 2)">
      <app-my-button *ngIf="!(pagination[i] == (end / tableConfig.pagination.itemPerPage))" [config]="{icon: 'circle', text: pagination[i].toString(), class: 'secondary'}" (click)="changePagination(pagination[i])"></app-my-button>
      <app-my-button *ngIf="pagination[i] == (end / tableConfig.pagination.itemPerPage)" [config]="{icon: 'circle-fill', text: pagination[i].toString(), class: 'secondary'}"></app-my-button>
    </ng-container>
  </ng-container>
   <p *ngIf="(end / tableConfig.pagination.itemPerPage) < pagination[pagineAttuali - 3]" style="margin-right: 10px">...</p>
  <app-my-button *ngIf="start < data.length - (end - start)" (click)="next()" [config]="button_next"></app-my-button>
 </div>
