<table>
  <thead>
  <tr>
    <th *ngFor="let colonna of tableConfig.headers" (click)="ordinamento(colonna.key)">
      {{colonna.label}}
      <i *ngIf = "colonna.key === tableConfig.order.colonna">{{iconaOrdinamento}}</i>
    </th>
    <th>
      <div id="search-data">
        <label for="seleziona-colonna">Seleziona una colonna per la ricerca: </label>
        <select id="seleziona-colonna" [(ngModel)]="searchColumn">
          <option *ngFor="let colonna of tableConfig.search.columns">{{colonna}}</option>
        </select>
        <input type="text" [(ngModel)]="searchText" placeholder="cerca" />
        <label for="seleziona-pagina"> item per pagina: </label>
        <select id="seleziona-pagina" [(ngModel)]="tableConfig.pagination.itemPerPage">
          <option *ngFor="let numero of tableConfig.pagination.itemPerPageOption">{{numero}}</option>
        </select>
      </div>
    </th>
  </tr>
  </thead>
  <tbody>
    <tr *ngFor="let riga of data | pagination: start: end | order: tableConfig.order.verso: tableConfig.order.colonna | filter: searchText!: searchColumn!">
      <td *ngFor="let colonna of tableConfig.headers">{{riga[colonna.key]}}</td>
    </tr>
  </tbody>
</table>
<button (click)="back()">Back</button>
<button (click)="next()">Next</button>

