<h1>Crea il tuo bottone (da boostrap)</h1>
<!--<form (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="class">Classe bottone: </label>
    <input type="text" class="form-control" id="class" name="class" [(ngModel)]="buttonConfig.customClass">
  </div>
  <br>
  <div class="form-group">
    <label for="iconClass">Classe icona: </label>
    <input type="text" class="form-control" id="iconClass" name="iconClass" [(ngModel)]="buttonConfig.icon">
  </div>
  <br>
  <div class="form-group">
    <label for="text">Testo: </label>
    <input type="text" class="form-control" id="text" name="text" [(ngModel)]="buttonConfig.text">
  </div>
  <br>
  <button type="submit" class="btn btn-primary">Crea Bottone</button>
</form>
<br>-->
<app-button-custom [config]="button1"></app-button-custom>
<app-button-custom [config]="button2"></app-button-custom>
<app-button-custom [config]="button3"></app-button-custom>


