<!-- <div style="margin-top: 10px">
  <br> <label>{{ form ? 'Inserisci i valori per aggiornare' : 'Inserisci valori del nuovo dato' }}</label> <br>
  <ng-container *ngFor="let i of table.headers">
    <label>{{i.label}}: </label>
    <input *ngIf="form" type="text" [(ngModel)]="dato[i.key]">
    <input *ngIf="!form" type="text" [(ngModel)]="newData[i.key]"> <br>
  </ng-container>
  <app-my-button (click)="form ? modificaDati() : aggiungiDato()" [config]="form ? button_modifica : button_aggiungi"></app-my-button>
  <app-my-button (click)="emit.emit()" [config]="button_back"></app-my-button>
</div> -->

<div *ngIf="form">
  <form #editForm="ngForm" (ngSubmit)="modificaDati(editForm)">
    <label>Iserisci i valori per aggiornare</label>
    <ng-container *ngFor="let i of table.headers">
      <label>{{i.label}}: </label>
      <input *ngIf="form" type="text" name="{{i.key}}" ngModel>
    </ng-container>
    <app-my-button [typeButton]="'submit'" [config]="button_modifica" [isDisabled]="!editForm.valid"></app-my-button>
    <app-my-button (emitter)="emit.emit()" [config]="button_back"></app-my-button>
  </form>
</div>

<div *ngIf="!form">
  <form #newForm="ngForm" (ngSubmit)="aggiungiDato(newForm)">
    <label>Iserisci i valori per inserire il dato</label> <br>
    <ng-container *ngFor="let i of table.headers">
      <label>{{i.label}}: </label>
      <input type="text" name="{{i.key}}" ngModel required /> <br>
    </ng-container>
    <app-my-button [typeButton]="'submit'" [config]="button_aggiungi" [isDisabled]="!newForm.valid"></app-my-button>
    <app-my-button (emitter)="emit.emit()" [config]="button_back"></app-my-button>
  </form>
</div>
